Language: Cpp
BasedOnStyle: Microsoft
AlwaysBreakAfterReturnType: AllDefinitions
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:        true
  AfterClass:            true
  AfterControlStatement: Always
  AfterEnum:             true
  AfterFunction:         true
  AfterNamespace:        true
  AfterObjCDeclaration:  true
  AfterStruct:           true
  AfterUnion:            true
  AfterExternBlock:      false
  BeforeCatch:           true
  BeforeElse:            true
  BeforeLambdaBody:      true
  BeforeWhile:           true
  IndentBraces:          false
  SplitEmptyFunction:    true
  SplitEmptyRecord:      true
  SplitEmptyNamespace:   true
BreakStringLiterals: false
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakBeforeBinaryOperators: None
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: Never
PenaltyReturnTypeOnItsOwnLine: 0
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakAssignment: 1000
PenaltyBreakComment: 1000
PenaltyBreakFirstLessLess: 1000
PenaltyIndentedWhitespace: 1000
ColumnLimit: 0
TabWidth: 2
IndentWidth: 2
ContinuationIndentWidth: 2
IndentCaseLabels: true
IndentExternBlock: AfterExternBlock
IndentPPDirectives: None
IndentAccessModifiers: true
AccessModifierOffset: 0
ConstructorInitializerIndentWidth: 0
EmptyLineAfterAccessModifier: Always
KeepEmptyLinesAtTheStartOfBlocks: false
SeparateDefinitionBlocks: Always
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeRangeBasedForLoopColon: false
AlignEscapedNewlines: Left
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
AlignConsecutiveBitFields:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
AlignConsecutiveMacros:
  Enabled: true
PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Left
AlignOperands: DontAlign
ShortNamespaceLines: 0
Cpp11BracedListStyle: false
SortIncludes: CaseInsensitive
