CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
compile_commands.json
_deps
.results
*~
build/
armhf/
amd64/
.idea

# CMake files.
**/CMakeCache.txt
**/CMakeFiles
**/cmake_install.cmake
**/install_manifest.txt
**/install_manifest_lib.txt
**/install_manifest_dev.txt
Makefile
**/cmake-build-debug/

#CPack files.
**/_CPack_Packages/
**/CPackConfig.cmake
**/CPackSourceConfig.cmake
**/CTestTestfile.cmake
**/DartConfiguration.tcl

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# gcc coverage testing tool files
*.gcno
*.gcda
*.gcov

# CDT-specific
.project
.cproject
.settings/

# project-specific
**/po/
**/*.pc
**/config.h
arch.c
doc/doxyfile
*.deb

scripts/misra/misra2012
stdout*
stderr*
.cache/
code_coverage.info
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Doxyfile
doc_doxygen/
